Intro to DataFrames:
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
When using [], the result is a Pandas DataFrame.

In [152]:
import pandas as pd

In [153]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [154]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]], columns=["A", "B", "C"], index=["x","y","z",'zz'])

In [155]:
print(df)

     A   B   C
x    1   2   3
y    4   5   6
z    7   8   9
zz  10  11  12

In [156]:
df = pd.DataFrame([['Apple', 'Pie', 'Juice'], ['Banana', 'Cake', 'Shake'], ['Cucumber', 'Salad','Shake']], columns=['Fruit','Bi-Product 1','Bi-Product 2'], index=['Type0','Type1','Type2'])

In [157]:
df

          Fruit Bi-Product 1 Bi-Product 2
Type0     Apple          Pie        Juice
Type1    Banana         Cake        Shake
Type2  Cucumber        Salad        Shake

In [158]:
df.head()

          Fruit Bi-Product 1 Bi-Product 2
Type0     Apple          Pie        Juice
Type1    Banana         Cake        Shake
Type2  Cucumber        Salad        Shake

In [159]:
df.head(1)

       Fruit Bi-Product 1 Bi-Product 2
Type0  Apple          Pie        Juice

In [160]:
df.tail(2)

          Fruit Bi-Product 1 Bi-Product 2
Type1    Banana         Cake        Shake
Type2  Cucumber        Salad        Shake

In [161]:
df.describe()

        Fruit Bi-Product 1 Bi-Product 2
count       3            3            3
unique      3            3            2
top     Apple          Pie        Shake
freq        1            1            2

In [162]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Type0 to Type2
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fruit         3 non-null      object
 1   Bi-Product 1  3 non-null      object
 2   Bi-Product 2  3 non-null      object
dtypes: object(3)
memory usage: 96.0+ bytes

In [163]:
print(df.columns) ##Returns an Index object containing the column names.
print(df.index) ## Returns the Index object representing the row labels.

Index(['Fruit', 'Bi-Product 1', 'Bi-Product 2'], dtype='object')
Index(['Type0', 'Type1', 'Type2'], dtype='object')

In [164]:
df.columns.tolist()

['Fruit', 'Bi-Product 1', 'Bi-Product 2']

In [165]:
df.index.tolist()

['Type0', 'Type1', 'Type2']

In [166]:
df.nunique()

Fruit           3
Bi-Product 1    3
Bi-Product 2    2
dtype: int64

In [167]:
df['Fruit'].unique()

array(['Apple', 'Banana', 'Cucumber'], dtype=object)

In [168]:
df['Bi-Product 2'].unique()

array(['Juice', 'Shake'], dtype=object)

In [169]:
df.shape

(3, 3)

In [170]:
df.size

9

In [171]:
df

          Fruit Bi-Product 1 Bi-Product 2
Type0     Apple          Pie        Juice
Type1    Banana         Cake        Shake
Type2  Cucumber        Salad        Shake

Loading in from Files

In [172]:
coffee= pd.read_csv('/Users/vartika/Downloads/Python/Pandas/data/coffee.csv')

In [173]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [174]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [175]:
coffee.tail()

         Day Coffee Type  Units Sold
9     Friday       Latte          35
10  Saturday    Espresso          45
11  Saturday       Latte          35
12    Sunday    Espresso          45
13    Sunday       Latte          35

In [176]:
coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          14 non-null     object
 1   Coffee Type  14 non-null     object
 2   Units Sold   14 non-null     int64
dtypes: int64(1), object(2)
memory usage: 468.0+ bytes

In [177]:
coffee.describe()

       Units Sold
count   14.000000
mean    32.857143
std      9.346798
min     15.000000
25%     26.250000
50%     35.000000
75%     38.750000
max     45.000000

In [178]:
coffee.shape ## Returns a tuple of the form (number of rows, number of columns

(14, 3)

In [179]:
coffee.size ##Returns the total number of elements (rows × columns).

42

In [180]:
coffee.ndim ##Returns the number of dimensions. For a DataFrame, this will always be 2 (rows and columns).

2

In [181]:
coffee.dtypes ##Returns the data types of each column.

Day            object
Coffee Type    object
Units Sold      int64
dtype: object

In [182]:
coffee.values ##Returns a Numpy array representing the DataFrame’s values.

array([['Monday', 'Espresso', 25],
       ['Monday', 'Latte', 15],
       ['Tuesday', 'Espresso', 30],
       ['Tuesday', 'Latte', 20],
       ['Wednesday', 'Espresso', 35],
       ['Wednesday', 'Latte', 25],
       ['Thursday', 'Espresso', 40],
       ['Thursday', 'Latte', 30],
       ['Friday', 'Espresso', 45],
       ['Friday', 'Latte', 35],
       ['Saturday', 'Espresso', 45],
       ['Saturday', 'Latte', 35],
       ['Sunday', 'Espresso', 45],
       ['Sunday', 'Latte', 35]], dtype=object)

In [183]:
coffee.T ##T (Transpose)
## Returns the transpose of the DataFrame (rows become columns and vice versa).

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
Day,Monday,Monday,Tuesday,Tuesday,Wednesday,Wednesday,Thursday,Thursday,Friday,Friday,Saturday,Saturday,Sunday,Sunday
Coffee Type,Espresso,Latte,Espresso,Latte,Espresso,Latte,Espresso,Latte,Espresso,Latte,Espresso,Latte,Espresso,Latte
Units Sold,25,15,30,20,35,25,40,30,45,35,45,35,45,35

In [184]:
coffee.empty ##Returns True if the DataFrame is empty (i.e., no rows or columns).

False

In [185]:
test = ['']

In [186]:
test = pd.DataFrame()

In [187]:
test.empty ##Returns True if the DataFrame is empty (i.e., no rows or columns).

True

In [188]:
coffee.sort_values('Units Sold') ## Default: ASC

          Day Coffee Type  Units Sold
1      Monday       Latte          15
3     Tuesday       Latte          20
0      Monday    Espresso          25
5   Wednesday       Latte          25
2     Tuesday    Espresso          30
7    Thursday       Latte          30
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
6    Thursday    Espresso          40
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45

In [189]:
coffee.sort_values('Units Sold', ascending=True) ## Explicitly: ASC

          Day Coffee Type  Units Sold
1      Monday       Latte          15
3     Tuesday       Latte          20
0      Monday    Espresso          25
5   Wednesday       Latte          25
2     Tuesday    Espresso          30
7    Thursday       Latte          30
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
6    Thursday    Espresso          40
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45

In [190]:
coffee.sort_values('Units Sold', ascending=False) ## Explicitly: DESC

          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
2     Tuesday    Espresso          30
7    Thursday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
3     Tuesday       Latte          20
1      Monday       Latte          15

In [191]:
pd.__version__

'2.2.3'

In [192]:
coffee.sample()

      Day Coffee Type  Units Sold
1  Monday       Latte          15

loc:

Label-based indexing: Access rows and columns by their labels or boolean conditions.
Includes both the start and stop labels when slicing.
Can handle single labels, lists of labels, slices, or boolean arrays.

DataFrame.loc[row_labels, column_labels]

In [193]:
coffee.loc[1]

Day            Monday
Coffee Type     Latte
Units Sold         15
Name: 1, dtype: object

In [194]:
coffee.loc[0:3]

       Day Coffee Type  Units Sold
0   Monday    Espresso          25
1   Monday       Latte          15
2  Tuesday    Espresso          30
3  Tuesday       Latte          20

In [195]:
coffee.loc[[1,2,6]]

        Day Coffee Type  Units Sold
1    Monday       Latte          15
2   Tuesday    Espresso          30
6  Thursday    Espresso          40

In [196]:
coffee.loc[0:3, ['Day', 'Units Sold']]

       Day  Units Sold
0   Monday          25
1   Monday          15
2  Tuesday          30
3  Tuesday          20

In [197]:
coffee.loc[coffee['Units Sold'] > 40]

         Day Coffee Type  Units Sold
8     Friday    Espresso          45
10  Saturday    Espresso          45
12    Sunday    Espresso          45

iloc:
iloc is used for position-based indexing in Pandas. It allows you to access rows and columns of a DataFrame or Series using integer positions (zero-based index).

DataFrame.iloc[row_positions, column_positions]

Works with integer positions only (not labels).
Uses zero-based indexing (first row/column = position 0).
When slicing, it excludes the stop index (similar to standard Python slicing).

In [198]:
coffee.iloc[0:3, [0]]

       Day
0   Monday
1   Monday
2  Tuesday

In [199]:
coffee.iloc[0,2]

np.int64(25)

In [200]:
print(coffee.iloc[0,2])

25

In [201]:
pd.options.display.max_rows

60

In [202]:
pd.options.display.max_columns

20

In [203]:
coffee.index

RangeIndex(start=0, stop=14, step=1)

In [204]:
coffee.index = coffee['Day']

In [205]:
coffee

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso          25
Monday        Monday       Latte          15
Tuesday      Tuesday    Espresso          30
Tuesday      Tuesday       Latte          20
Wednesday  Wednesday    Espresso          35
Wednesday  Wednesday       Latte          25
Thursday    Thursday    Espresso          40
Thursday    Thursday       Latte          30
Friday        Friday    Espresso          45
Friday        Friday       Latte          35
Saturday    Saturday    Espresso          45
Saturday    Saturday       Latte          35
Sunday        Sunday    Espresso          45
Sunday        Sunday       Latte          35

In [206]:
coffee.index

Index(['Monday', 'Monday', 'Tuesday', 'Tuesday', 'Wednesday', 'Wednesday',
       'Thursday', 'Thursday', 'Friday', 'Friday', 'Saturday', 'Saturday',
       'Sunday', 'Sunday'],
      dtype='object', name='Day')

In [207]:
coffee.loc['Monday':'Sunday']

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso          25
Monday        Monday       Latte          15
Tuesday      Tuesday    Espresso          30
Tuesday      Tuesday       Latte          20
Wednesday  Wednesday    Espresso          35
Wednesday  Wednesday       Latte          25
Thursday    Thursday    Espresso          40
Thursday    Thursday       Latte          30
Friday        Friday    Espresso          45
Friday        Friday       Latte          35
Saturday    Saturday    Espresso          45
Saturday    Saturday       Latte          35
Sunday        Sunday    Espresso          45
Sunday        Sunday       Latte          35

df.reset_index(drop=True, inplace=False) : drops the index temporarily for that block of code.

df.reset_index(drop=True, inplace=True) : drops the index permanently.

In [208]:
coffee.reset_index(drop=True, inplace=False)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [209]:
coffee

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso          25
Monday        Monday       Latte          15
Tuesday      Tuesday    Espresso          30
Tuesday      Tuesday       Latte          20
Wednesday  Wednesday    Espresso          35
Wednesday  Wednesday       Latte          25
Thursday    Thursday    Espresso          40
Thursday    Thursday       Latte          30
Friday        Friday    Espresso          45
Friday        Friday       Latte          35
Saturday    Saturday    Espresso          45
Saturday    Saturday       Latte          35
Sunday        Sunday    Espresso          45
Sunday        Sunday       Latte          35

In [235]:
coffee.reset_index(drop=True, inplace=True)

In [211]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [212]:
coffee.loc[0:3, 'Units Sold'] = 10

In [213]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          10
1      Monday       Latte          10
2     Tuesday    Espresso          10
3     Tuesday       Latte          10
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

Optimized way to get single values (.at & .iat)

In [225]:
coffee.at[0, 'Day']

'Monday'

In [224]:
coffee.at[0, 'Units Sold']

np.int64(10)

In [223]:
coffee.at[0, 'Day']

'Monday'

In [221]:
coffee.iat[0, 1]

'Espresso'

In [230]:
coffee.iat[9,2]

np.int64(35)

Retrieving Columns

In [239]:
coffee.Day

0        Monday
1        Monday
2       Tuesday
3       Tuesday
4     Wednesday
5     Wednesday
6      Thursday
7      Thursday
8        Friday
9        Friday
10     Saturday
11     Saturday
12       Sunday
13       Sunday
Name: Day, dtype: object

In [240]:
coffee['Day']

0        Monday
1        Monday
2       Tuesday
3       Tuesday
4     Wednesday
5     Wednesday
6      Thursday
7      Thursday
8        Friday
9        Friday
10     Saturday
11     Saturday
12       Sunday
13       Sunday
Name: Day, dtype: object

In [250]:
coffee.loc[0:10, 'Day']

0        Monday
1        Monday
2       Tuesday
3       Tuesday
4     Wednesday
5     Wednesday
6      Thursday
7      Thursday
8        Friday
9        Friday
10     Saturday
Name: Day, dtype: object

In [252]:
coffee[['Day', 'Coffee Type']]

          Day Coffee Type
0      Monday    Espresso
1      Monday       Latte
2     Tuesday    Espresso
3     Tuesday       Latte
4   Wednesday    Espresso
5   Wednesday       Latte
6    Thursday    Espresso
7    Thursday       Latte
8      Friday    Espresso
9      Friday       Latte
10   Saturday    Espresso
11   Saturday       Latte
12     Sunday    Espresso
13     Sunday       Latte

Sort Values