Intro to DataFrames

In [2]:
import pandas as pd

In [3]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [4]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]], columns=["A", "B", "C"], index=["x","y","z",'zz'])

In [5]:
print(df)

     A   B   C
x    1   2   3
y    4   5   6
z    7   8   9
zz  10  11  12

In [6]:
df = pd.DataFrame([['Apple', 'Pie', 'Juice'], ['Banana', 'Cake', 'Shake'], ['Cucumber', 'Salad','Shake']], columns=['Fruit','Bi-Product 1','Bi-Product 2'], index=['Type0','Type1','Type2'])

In [7]:
df

          Fruit Bi-Product 1 Bi-Product 2
Type0     Apple          Pie        Juice
Type1    Banana         Cake        Shake
Type2  Cucumber        Salad        Shake

In [8]:
df.head()

          Fruit Bi-Product 1 Bi-Product 2
Type0     Apple          Pie        Juice
Type1    Banana         Cake        Shake
Type2  Cucumber        Salad        Shake

In [9]:
df.head(1)

       Fruit Bi-Product 1 Bi-Product 2
Type0  Apple          Pie        Juice

In [10]:
df.tail(2)

          Fruit Bi-Product 1 Bi-Product 2
Type1    Banana         Cake        Shake
Type2  Cucumber        Salad        Shake

In [11]:
df.describe()

        Fruit Bi-Product 1 Bi-Product 2
count       3            3            3
unique      3            3            2
top     Apple          Pie        Shake
freq        1            1            2

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Type0 to Type2
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fruit         3 non-null      object
 1   Bi-Product 1  3 non-null      object
 2   Bi-Product 2  3 non-null      object
dtypes: object(3)
memory usage: 96.0+ bytes

In [13]:
print(df.columns) ##Returns an Index object containing the column names.
print(df.index) ## Returns the Index object representing the row labels.

Index(['Fruit', 'Bi-Product 1', 'Bi-Product 2'], dtype='object')
Index(['Type0', 'Type1', 'Type2'], dtype='object')

In [14]:
df.columns.tolist()

['Fruit', 'Bi-Product 1', 'Bi-Product 2']

In [15]:
df.index.tolist()

['Type0', 'Type1', 'Type2']

In [16]:
df.nunique()

Fruit           3
Bi-Product 1    3
Bi-Product 2    2
dtype: int64

In [17]:
df['Fruit'].unique()

array(['Apple', 'Banana', 'Cucumber'], dtype=object)

In [18]:
df['Bi-Product 2'].unique()

array(['Juice', 'Shake'], dtype=object)

In [19]:
df.shape

(3, 3)

In [20]:
df.size

9

In [21]:
df

          Fruit Bi-Product 1 Bi-Product 2
Type0     Apple          Pie        Juice
Type1    Banana         Cake        Shake
Type2  Cucumber        Salad        Shake

Loading in from Files

In [22]:
coffee= pd.read_csv('/Users/vartika/Downloads/Python/Pandas/data/coffee.csv')

In [23]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [24]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [25]:
coffee.tail()

         Day Coffee Type  Units Sold
9     Friday       Latte          35
10  Saturday    Espresso          45
11  Saturday       Latte          35
12    Sunday    Espresso          45
13    Sunday       Latte          35

In [26]:
coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          14 non-null     object
 1   Coffee Type  14 non-null     object
 2   Units Sold   14 non-null     int64
dtypes: int64(1), object(2)
memory usage: 468.0+ bytes

In [27]:
coffee.describe()

       Units Sold
count   14.000000
mean    32.857143
std      9.346798
min     15.000000
25%     26.250000
50%     35.000000
75%     38.750000
max     45.000000

In [28]:
coffee.shape ## Returns a tuple of the form (number of rows, number of columns

(14, 3)

In [29]:
coffee.size ##Returns the total number of elements (rows × columns).

42

In [30]:
coffee.ndim ##Returns the number of dimensions. For a DataFrame, this will always be 2 (rows and columns).

2

In [31]:
coffee.dtypes ##Returns the data types of each column.

Day            object
Coffee Type    object
Units Sold      int64
dtype: object

In [32]:
coffee.values ##Returns a Numpy array representing the DataFrame’s values.

array([['Monday', 'Espresso', 25],
       ['Monday', 'Latte', 15],
       ['Tuesday', 'Espresso', 30],
       ['Tuesday', 'Latte', 20],
       ['Wednesday', 'Espresso', 35],
       ['Wednesday', 'Latte', 25],
       ['Thursday', 'Espresso', 40],
       ['Thursday', 'Latte', 30],
       ['Friday', 'Espresso', 45],
       ['Friday', 'Latte', 35],
       ['Saturday', 'Espresso', 45],
       ['Saturday', 'Latte', 35],
       ['Sunday', 'Espresso', 45],
       ['Sunday', 'Latte', 35]], dtype=object)

In [33]:
coffee.T ##T (Transpose)
## Returns the transpose of the DataFrame (rows become columns and vice versa).

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
Day,Monday,Monday,Tuesday,Tuesday,Wednesday,Wednesday,Thursday,Thursday,Friday,Friday,Saturday,Saturday,Sunday,Sunday
Coffee Type,Espresso,Latte,Espresso,Latte,Espresso,Latte,Espresso,Latte,Espresso,Latte,Espresso,Latte,Espresso,Latte
Units Sold,25,15,30,20,35,25,40,30,45,35,45,35,45,35

In [34]:
coffee.empty ##Returns True if the DataFrame is empty (i.e., no rows or columns).

False

In [35]:
test = ['']

In [36]:
test = pd.DataFrame()

In [37]:
test.empty ##Returns True if the DataFrame is empty (i.e., no rows or columns).

True

In [38]:
coffee.sort_values('Units Sold') ## Default: ASC

          Day Coffee Type  Units Sold
1      Monday       Latte          15
3     Tuesday       Latte          20
0      Monday    Espresso          25
5   Wednesday       Latte          25
2     Tuesday    Espresso          30
7    Thursday       Latte          30
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
6    Thursday    Espresso          40
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45

In [39]:
coffee.sort_values('Units Sold', ascending=True) ## Explicitly: ASC

          Day Coffee Type  Units Sold
1      Monday       Latte          15
3     Tuesday       Latte          20
0      Monday    Espresso          25
5   Wednesday       Latte          25
2     Tuesday    Espresso          30
7    Thursday       Latte          30
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
6    Thursday    Espresso          40
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45

In [40]:
coffee.sort_values('Units Sold', ascending=False) ## Explicitly: DESC

          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
2     Tuesday    Espresso          30
7    Thursday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
3     Tuesday       Latte          20
1      Monday       Latte          15

In [41]:
pd.__version__

'2.2.3'